<html>

Welcome: <br><br>

This page shows the received information over the generic database interface! <br><br>

Dbname: {{ gdb_dbname }}
<br>
Username: {{ gdb_user }}
<br>
Password: {{ gdb_password }}
<br>
Host: {{ gdb_host }}
<br>
Port: {{ gdb_port }}
<br>




</html>

